<div class="columns">
  <div class="column is-half is-offset-one-quarter">
    <h2 class="subtitle">註冊</h2>
    
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
    
    <div class="field">
      <%= f.label :username, '使用者名稱' %><br />
      <%= f.text_field :username, autofocus: true, class: 'input' %>
    </div>
    
    <div class="field">
      <%= f.label :email, 'Email' %><br />
      <%= f.email_field :email, autocomplete: "email", class: 'input' %>
    </div>
    
    <div class="field">
      <%= f.label :password, '密碼' %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "new-password", class: 'input' %>
    </div>
    
    <div class="field">
      <%= f.label :password_confirmation, '再次輸入密碼' %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'input' %>
    </div>
    
    <div class="actions">
      <%= f.submit "註冊", class: 'button is-primary' %>
    </div>
    <% end %>
    <hr>
    <%= render "devise/shared/links" %>

  </div>
</div>
