<h2 class="subtitle">修改個人資料</h2>

<%= form_for @user do |f| %>
  <div class="field">
    <%= f.label :username, '使用者名稱' %>
    <%= f.text_field :username, class: 'input' %>
  </div>

  <div class="field">
    <%= f.label :email, 'Email' %>
    <%= f.email_field :email, class: 'input' %>
  </div>

  <div class="field">
    <%= f.label :avatar, '大頭照' %>
    
    <%= f.file_field :avatar %>
    <%= avatar(@user, 50) %>
  </div>

  <%= f.submit "修改個人資料", class: 'button is-primary' %>
  <%= link_to '回到個人頁面', user_path(@user), class: 'button is-dark' %>
<% end %>
