<h1>修改個人資料</h1>

<%= form_for @user do |f| %>
  <div>
    <%= f.label :username %>
    <%= f.text_field :username %>
  </div>

  <div>
    <%= f.label :email %>
    <%= f.email_field :email %>
  </div>

  <div>
    <%= f.label :avatar %>
    <%= image_tag(@user.avatar, width: "200px") if @user.avatar.attached? %>
    <%= f.file_field :avatar %>
  </div>

  <%= f.submit "修改資料" %>

<% end %>