<%= image_tag @user.avatar.variant(resize: '250 x 250') if @user.avatar.attached? %>

<h2 class="subtitle"><%= @user.username %></h2>
<%= render partial: "shared/follow", locals: { obj: @user } %>


<%= link_to "新增產品", new_product_path %>

<% @user.products.each do |product| %>
  <h4><%= product.name %></h4>
  <%= image_tag(product.photo, width: "200px") if product.photo.attached? %>
  <% if current_user && current_user == product.user %>
    <%= link_to "修改", edit_product_path(product) %> |
    <%= link_to "刪除", product_path(product), method: :delete,
                data: {confirm: "Are you sure?"} %>
  <% end %>
<% end %>

<div>
  <ul>
    <% @followers.each do |follower| %>
      <li><%= follower.username %></li>
    <% end %>
  </ul>
</div>