<%= form_for obj do |f| %>
  <div class='field'>
    <%= f.label :name, '產品名稱' %>
    <%= f.text_field :name, class: 'input' %>
  </div>

  <div class='field'>
    <%= f.label :category %>
    <%= f.collection_select :category_id, Category.all, :id, :name,
          {prompt: true}, {class: "form-control"} %>
  </div>

  <div class='field'>
    <%= f.label :price, '價格' %>
    <%= f.text_field :price, class: 'input' %>
  </div>

  <div class='field'>
    <%= f.label :description %>
    <%= f.text_area :description, class: 'textarea', rows: 10 %>
  </div>

  <div class='field'>
    <%= f.label :photo %></br>
    <div class="control">
      <%= f.file_field :photo %>
    </div>
    <%= image_tag @product.photo.variant(resize: '250 x 250') if @product.photo.attached? %>
  </div>

  <%= f.submit '修改', class: 'button is-primary' %>

  <%= link_to "回前頁", products_path, class: 'button is-dark' %>


<% end %>