<div class="columns is-multiline is-mobile">
  <% @products.each do |product| %>
    <div class="column is-one-quarter">
      <%= link_to product_path(product) do %>
        <article class="tile is-child box">
          <div class="card-image">
            <figure class="image is-4by3">
              <%= photo(product, 200) %>
            </figure>
          </div>
          <div class="card-content">
            <div class="media">
              <div class="media-content">
                <p class="title is-4"><%= product.name %></p>
                <p><%= render partial: "shared/like", locals: {obj: product} %></p>
              </div>
            </div>

            <div class="content">
              <p><%= truncate(product.description, length: 50) %></p>
            </div>
          </div>
        </article>
      <% end %>
    </div>
  <% end %>
</div>