<h1>User後台</h1>

<%= link_to '產品', admin_products_path %> |
<%= link_to '使用者', admin_users_path %>

<table>
  <thead>
    <tr>
      <th>名字</th>
      <th>產品數</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= link_to user.username, user_path(user) %></td>
        <td><%= user.products.count %></td>
        <td><%= link_to "刪除", admin_user_path(user), method: :delete,
            data: {confirm: "Are you sure?"} %></td>
      </tr>
    <% end %>
  </tbody>
</table>