<h1>This is index page</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Price</th>
      <th>Photo</th>
      <th>Description</th>
    </tr>
  </thead>
  <% @products.each do |product| %>
    <tbody>
      <tr>
        <td>
          <%= link_to product.name, product_path(product) %>
          <%= render partial: "like", locals: {obj: product} %>
        </td>
        <td><%= product.price %></td>
        <td>
          <%= image_tag(product.photo, width: "200px") if product.photo.attached? %>
        </td>
        <td><%= product.description %></td>
      </tr>
    </tbody>
  <% end %>
</table>