<div class="tile is-ancestor">
  <div class="tile is-4 is-vertical is-parent">
    <div class="tile is-child">
      <%= image_tag(@product.photo, class: "image") if @product.photo.attached? %>
    </div>
    <div class="tile is-child">
      <h2 class="title is-2"><%= @product.name %></h2>
      <p class="is-6">NT: <%= @product.price %></p>
      <p><%= render partial: "shared/like", locals: {obj: @product} %></p>
    </div>
  </div>
  <div class="tile is-parent">
    <div class="tile is-child">
      <p class="is-4"><%= @product.description %></p>
    </div>
  </div>
</div>


<% @product.comments.each do |comment| %>
  <h3><%= comment.user.username %></h3>
  <p><%= simple_format comment.content %></p>
  <p><%= time_ago_in_words(comment.created_at) %></p>
  <% if current_user == @product.user %>
    <%= link_to "刪除", product_comment_path(@product, comment), 
    method: :delete, data: {confirm: "Are you sure?"} %>
  <% end %>
<% end %>

<%= form_for [@product, @comment] do |f| %>
  <%= f.label :content, placeholder: "留個言吧" %>
  <%= f.text_area :content %>

  <%= f.submit %>
<% end %>

<%= link_to "回前頁", products_path %>