<!DOCTYPE html>
<html>
  <head>
    <title>Dailybuy</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render "shared/navbar" %>
    <div class="container">
      <div class="section">
        <div class="columns is-mobile">
          <div class="column">
            <%= render partial: "shared/notice" if flash[:notice] %>
            <%= yield %>
          </div>
        </div>
      </div>
    </div>
    <%= render partial: "shared/footer" %>
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    </body>
</html>
